<div class="container-fluid m-0 p-0">
  <div class="row pt-5 justify-content-xl-center justify-content-md-center align-item-xl-center" >
    <div class="col-3 pl-4 pt-5" style="height: 25vh;"><button type="button" class=" btn btn-secondary" style="background-color: aquamarine;" routerLink='/job'> Mes jobs </button></div>
    <div class="col-3 pl-3 pt-5"><button type="button" class=" btn btn-secondary" style="background-color: rgb(204, 153, 85);" routerLink='/hobbie'> Mes Loisirs </button></div>
    <div class="w-100"></div>
    <div class="col-3 ml-n2 " style="height: 25vh;"><button type="button" class=" btn btn-secondary" style="background-color: rgb(178, 204, 85);" routerLink='/creation'> Mes Creations </button></div>
    <div class="col-3 "><button type="button" class=" btn btn-secondary" style="background-color: rgb(204, 85, 135);" routerLink='/diplome'> Mes Diplomes </button></div>
  </div>
</div>
