<div class="container-fluid m-0 p-0">
  <div class="row m-0 pt-5 justify-content-xl-center justify-content-md-center align-item-xl-center" >
    <div class="col-5 pl-5" style="height: 25vh;">
      <button type="button" class=" btn btn-secondary" style="background-color: aquamarine; height: 15vh; width: 15vh;" routerLink='/job'> Mes jobs </button>
    </div>
    <div class="col-5 pl-5 ">
      <button type="button" class=" btn btn-secondary" style="background-color: rgb(204, 153, 85); height: 15vh; width: 15vh;" routerLink='/hobbie'> Mes Loisirs </button>
    </div>
    <div class="w-100"></div>
    <div class="col-5 pl-5" style="height: 25vh;">
      <button type="button" class=" btn btn-secondary" style="background-color: rgb(178, 204, 85); height: 15vh; width: 15vh;" routerLink='/creation'> Mes Creations </button>
    </div>
    <div class="col-5 pl-5 ">
      <button type="button" class=" btn btn-secondary" style="background-color: rgb(204, 85, 135); height: 15vh; width: 15vh;" routerLink='/diplome'> Mes Diplomes </button>
    </div>
  </div>
</div>
