<div class="container-fluid m-0 p-0" >
  <div class="row p-5 m-0 ">
    <div class="col-5 col-sm-3 col-md-2 col-lg-2 col-xl-2 pl-2"><img src="assets/img/IMG_20210126_090912.jpg" alt="" style="border-radius: 35%; width: 15vw; ">
    </div>
    <div class="col-3 align-self-center">
      <h3 class="text-white">BOILEAUX ERIC PORTFOLIO</h3>
    </div>
    <div class="col-5 align-self-center justify-content-center">
      <div *ngIf='admin' class="col-4 pl-5 "><button type="button" class=" btn btn-secondary" style="width: 35vw;" routerLink='/admin'>Administrateur </button></div>
      <div class="col-4 pt-5 pl-5"><button type="button" class="btn btn-secondary" style="width: 35vw;" routerLink=''>Revenir à l'accueil</button></div>
    </div>
    </div>
</div>
