<div class="container-fluid m-0 p-0 img" >
  <div class="row  p-0 m-0">
    <div class="col pl-5"><img class="col-6 p-5"src="assets/img/IMG_20210126_090912.jpg" alt="" style="border-radius: 35%; ">
    </div>
    <div class="col align-self-center">
      <h3>BOILEAUX ERIC PORTFOLIO</h3>
    </div>
    <div class="col align-self-center justify-content-end">
      <div class="col-12 pl-5 mr-5"><button type="button" class=" btn btn-secondary">Admin Page</button></div>
      <div class="col-12 pl-5 pt-5 mr-5"><button type="button" class="btn btn-secondary">Accueil</button></div>
    </div>
    </div>
</div>
