<div class="container-fluid justify-content-xl-center backfooter">
  <div class="row justify-content-xl-center pt-3">
    <div class="col-2"> <a href="https://www.facebook.com/Rayane.B.E" target="_blank">
      <img src="../../assets/img/facebook.png" style="width: 5vw;" alt="facebook">
    </a>
    </div>
    <div class="col-2"><a href="https://twitter.com/?lang=fr" target="_blank">
      <img src="../../assets/img/Twitter.png" style="width: 5vw;" alt="Twitter"></a>
    </div>
    <div class="col-2"><a href="https://www.instagram.com/ericboileaux/?hl=fr" target="_blank">
      <img src="../../assets/img/instagram.png" style="width: 5vw;" alt="instagram"></a>
    </div>
    <div class="col-2"><a href="https://odyssey.wildcodeschool.com/profiles/20214" target="_blank">
      <img src="../../assets/img/WCS.png" class="mt-4" style="width: 5vw;" alt="Wild Code School"></a>
    </div>
    <div class="col-2"><a href="https://github.com/CoolandWild" target="_blank">
      <img src="../../assets/img/github.png" style="width: 5vw;" alt="github"></a>
    </div>
  </div>
</div>
