<div class="container-fluid mt-5 mb-5" style="height: auto;">
  <div class="row justify-content-xl-center justify-content-lg-center justify-content-md-center justify-content-sm-center ">
    <div class="col-6">
      <div class="col-4 ">
        <button type="button"  class="btn btn-secondary " style="width: 35vw; background-color: rgb(38, 24, 168);" (click)="addDiplome()"> Ajouter Diplome </button>
      </div>
    </div>
      <div class="col-6">
      <div class="col-4 ">
        <button type="button" class="btn btn-secondary " style="width: 35vw; background-color:rgb(38, 24, 168);" (click)="removeDiplome()"> supprimer Diplome </button>
      </div>
    </div>
  </div>
  <div  class="row justify-content-xl-center">
    <div *ngIf="diplomeAdd" class="col-12">
      <form [formGroup]="diplomeInput" >
        <div class="col-2 mt-5">
          <label>
           <input type="text" class="form-control" formControlName="title" placeholder="Titre" style="width: 30vw;">
          </label>
        </div>
        <div class="col-2 mt-5">
          <label>
          <input type="text" class="form-control" formControlName="date" placeholder="date" style="width: 30vw;">
        </label>
        </div>
        <div class="col-8">
          <button type="button" class="btn btn-secondary" (click)="DiplomePost()" type="submit" [disabled]="!diplomeInput.valid" style="background-color:rgb(38, 24, 168);"> Ajouter ? </button>
        </div>
      </form>
    </div>
    <div *ngIf="diplomeRemove" class="justify-content-xl-center">
      <div *ngFor="let diplome of diplomes" class="col" >
        <div class="col-8 pt-4 text-white ">
          Titre: {{diplome.title}}
        </div>
        <div class="col-8 text-white">
          Date: {{diplome.date}}
        </div>
        <div class="col-8">
          <button type="button" class="btn btn-secondary" (click)="DiplomeDelete()"style="background-color:rgb(38, 24, 168);"> supprimer ? </button>
        </div>
      </div>
  </div>
  </div>
  <div class="row justify-content-xl-center">
    <div class="col-6">
        <div class="col-4 mt-5"><button type="button" class=" btn btn-secondary" style=" width: 35vw; background-color:rgb(38, 24, 168);"(click)="addJob()"> ajouter Travail </button></div>
    </div>
    <div class="col-6">
        <div class="col-4 mt-5"><button type="button" class=" btn btn-secondary" style=" width: 35vw; background-color:rgb(38, 24, 168);" (click)="removeJob()"> supprimer Travail</button></div>
    </div>
  </div>
  <div  class="row justify-content-xl-center">
    <div *ngIf="jobAdd" class="col-12">
      <form [formGroup]="jobInput" (ngSubmit)="submitJob()">
        <div class="col-2 mt-5">
          <label>
           <input type="text" class="form-control" formControlTitle="title" placeholder="Titre" style="width: 30vw;">
          </label>
        </div>
        <div class="col-2 mt-5">
          <label>
           <input type="text" class="form-control" formControlName="enterprise" placeholder="Entreprise" style="width: 30vw;">
          </label>
        </div>
        <div class="col-2 mt-5">
          <label>
          <input type="text" class="form-control" formControlDate="date" placeholder="date" style="width: 30vw;">
        </label>
        </div>
      </form>
    </div>
    <div *ngIf="jobRemove" class="col-12">
      <div *ngFor="let jobs of job" class="col" >
        <div class="col-2">
           title: {{jobs.title}}
       </div>
       <div class="col-2">
        date: {{jobs.enterprise}}
       </div>
       <div class="col-2">
         date: {{jobs.date}}
        </div>
        <div class="col-2 mt-5"><button type="button" class=" btn btn-secondary" style="width: 5vw; background-color:rgb(38, 24, 168);"> supprimer ? </button>
        </div>
      </div>
  </div>
  </div>
  <div class="row justify-content-xl-center">
    <div class="col-6">
      <div class="col-4 mt-5"><button type="button" class=" btn btn-secondary" style=" width: 35vw; background-color:rgb(38, 24, 168);" (click)="addHobbie()"> ajouter Hobbie </button></div>
  </div>
  <div class="col-6">
      <div class="col-4 mt-5"><button type="button" class=" btn btn-secondary" style=" width: 35vw; background-color:rgb(38, 24, 168);" (click)="removeHobbie()"> supprimer Hobbie</button></div>
  </div>
  </div>
  <div  class="row justify-content-xl-center">
    <div *ngIf="hobbieAdd" class="col-2">
      <form [formGroup]="hobbieInput" (ngSubmit)="submitHobbie()">
        <div class="col-2 mt-5">
          <label>
           <input type="text" class="form-control" formControlTitle="title" placeholder="title" style="width: 30vw;">
          </label>
        </div>
        <div class="col-2 mt-5">
          <label>
           <input type="text" class="form-control" formControlName="picture" placeholder="picture" style="width: 30vw;">
          </label>
        </div>
      </form>
    </div>
    <div *ngIf="hobbieRemove" class="col-8">
      <div *ngFor="let hobbies of hobbie" class="col" >
        <div class="col-2">
          <p>Test</p>
        title: {{hobbies.title}}
       </div>
        <div class="col-2">
         image: {{hobbies.picture}}
        </div>
        <div class="col-2 mt-5"><button type="button" class=" btn btn-secondary" style="width: 5vw; background-color:rgb(38, 24, 168);"> supprimer ? </button>
        </div>
      </div>
  </div>
  </div>
  <div class="row justify-content-xl-center">
      <div class="col-6">
          <div class="col-4 mt-5"><button type="button" class=" btn btn-secondary" style="width: 35vw; background-color:rgb(38, 24, 168);" (click)="addCreation()"> ajouter Creation </button></div>
      </div>
      <div class="col-6">
        <div class="col-4 mt-5"><button type="button" class=" btn btn-secondary" style="width: 35vw; background-color:rgb(38, 24, 168);" (click)="removeCreation()"> supprimer Creation </button></div>
      </div>
    </div>
    <div  class="row justify-content-xl-center">
      <div *ngIf="creationAdd" class="col-2">
        <form [formGroup]="creationInput" (ngSubmit)="submitCreation()">
          <div class="col-2 mt-5">
            <label>
             <input type="text" class="form-control" formControlTitle="title" placeholder="titre" style="width: 30vw;">
            </label>
          </div>
          <div class="col-2 mt-5">
            <label>
             <input type="text" class="form-control" formControlBody="body" placeholder="text" style="width: 30vw;">
            </label>
          </div>
        </form>
      </div>
      <div *ngIf="creationRemove" class="col-8">
        <div *ngFor="let creations of creation" class="col" >
          <div class="col-2">
            <p>Test</p>
          title: {{creations.title}}
         </div>
          <div class="col-2">
           image: {{creations.body}}
          </div>
          <div class="col-2 mt-5"><button type="button" class=" btn btn-secondary" style="width: 5vw; background-color:rgb(38, 24, 168);"> supprimer ? </button>
          </div>
        </div>
    </div>
    </div>
</div>
